h1 {
  text-align: center;
}

img {
  float: left;
  padding-right: 15px;
}

.btn {
  display: inline-block;
  background-color: rgba(52, 18, 112, 0.582);
  color: aliceblue;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  font-size: 14pt;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(52, 18, 112);
}
.btn:hover span {
  padding-right: 25px;
}

.btn:hover span::after {
  opacity: 1;
  right: 0;
}
textarea {
  border-radius: 5px;
  width: 100%;
  height: 300px;
  resize: none;
  text-wrap: wrap;
}
textarea::placeholder {
  color: gray;
  font-style: italic;
}

#email {
  border-radius: 5px;
  width: 70%;
  height: 20px;
}
#email::placeholder {
  color: gray;
  font-style: italic;
}
