/* Stylowanie od ogółu czyli od container */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

/* *{
    box-sizing: border-box;
    
} */

/* Body */
body {
  margin: 10px 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

#container {
  border: 2px dashed black;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.877);
  background-color: lawngreen;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Stylowanie menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  color: goldenrod;
  background-color: black;
}

/* Slider */

.slider {
  display: inline-block;
}

.slider {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.slider a {
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider a:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slider a::after {
  content: attr(title);
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
} 

/* Main */
main {
  display: flex;
}

main div {
  display: flex;
  width: calc(100% - 200px);
}

/* Article */
article {
  width: 70%;
  padding: 20px;
}

/* Aside */
aside {
  width: 30%;
  padding: 20px;
  background-color: darkgray;
  border-left: 3px dotted black;
}

/* .ads {
  width: 200px;
  background-color: red;
  /* display: none;} */

.ads {
  background-color: lightcoral;
  width: 200px;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 15pt;
  /* display: none */
}

.green {
  background-color: darkgreen;
}

.widget {
  margin-bottom: 50px;
}

.widget img {
  float: left;
  padding: 0 10px 5px 0;
  /* border: 5px dashed red; */
}

.links ul {
  list-style-type: square;
  margin-left: 20px;
  margin: 0;
}

.links ul li {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: lightgray;
  border-top: 1px solid black;
  text-align: center;
  padding: 25px 0;
}

footer p {
  margin: 0;
  text-shadow: 2px 2px darkgray;
}

@media screen and (max-width: 576px) {
}

@media screen and (min-width: 577px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 992px) {
  
}

@media screen and (min-width: 993px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

  
}